@*
Это вся htmlka которая открывается когда мы кликаем на клента
@ используется для вставки C# кода

*@

@using Microsoft.Ajax.Utilities
@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Birthdate: @Model.BirthDate.ToShortDateString()</li>
    }

</ul>
